body{
    margin: 0px;
    padding: 0px;
}
.header{
    color:white;
    background-color: grey;
    height: 100px;
}


.headerDiv{

    width:300px;
    height: 100px;
    float:left;

}

.headerPicture{

    margin-top:10px;
    margin-left:5px;

}
h1{
    display: inline;
}

.headerText{
    display: inline;
    color:red;
    margin-top: 50px;
    margin-top: 100px;
}
.footer{

    color:white;

    background-color: grey;
    height: 70px;
}
